[submodule "version_submodules/v1.0.0"]
	path = version_submodules/v1.0.0
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.1.0"]
	path = version_submodules/v1.1.0
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.1.1"]
	path = version_submodules/v1.1.1
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.2.0"]
	path = version_submodules/v1.2.0
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.2.1"]
	path = version_submodules/v1.2.1
	url = ../PyLaTeX.git
