[submodule "version_submodules/v1.0.0"]
	path = version_submodules/v1.0.0
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.1.1"]
	path = version_submodules/v1.1.1
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.2.1"]
	path = version_submodules/v1.2.1
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.3.4"]
	path = version_submodules/v1.3.4
	url = ../PyLaTeX.git
[submodule "version_submodules/v1.4.0"]
	path = version_submodules/v1.4.0
	url = ../PyLaTeX.git
