sudo: required
dist: trusty
cache: pip
language: python
python:
  - '2.7'
  - '3.3'
  - '3.4'
  - '3.5'
  - '3.6'
  # allow failures
  - '3.5-dev'
  - '3.6-dev'
  - 'nightly'
  - 'pypy'
  - 'pypy3'

matrix:
  fast_finish: true
  allow_failures:
    - python: '3.5-dev'
    - python: '3.6-dev'
    - python: 'nightly'
    - python: 'pypy'
    - python: 'pypy3'

addons:
  apt:
    packages:
      - texlive-latex-extra
      - texlive-pictures
      - texlive-science
      - texlive-fonts-recommended
      - lmodern
      - pgf

install:
  - pip install 3to2 future
  - 'if [ "$TRAVIS_PYTHON_VERSION" != 3.3 ]; then pip install -r dev_requirements.txt --upgrade; else pip install -e .[all] --upgrade; fi'
script: ./testall.sh
