language: python
python:
    - '2.7'
    - '3.3'
    - '3.4'
before_install:
    - sudo add-apt-repository ppa:texlive-backports/ppa -y
    - sudo apt-get update
install:
    - sudo apt-get install python3 python3-setuptools
    - pip install -e .[all] -r dev_requirements.txt
    - ./convert_to_py2.sh
    - sudo apt-get install texlive-latex-extra texlive-pictures texlive-science
script: ./testall.sh
