-e .[all]
-e git+https://github.com/JelteF/sphinx.git@better-autodoc-skip-member#egg=sphinx-dev
-e git+https://github.com/JelteF/sphinx_rtd_theme.git@master#egg=sphinx-rtd-theme
-e git+https://github.com/JelteF/pep257.git@e6187411646c0f324670dbc282bc1200b50e5f68#egg=pep257
